#editor-wrap {
  position: absolute;
  width: 600px;
  height: 600px;
  top: 10%;
  left: 60%;
  overflow: hidden;
  padding: 6px;
  user-select: none;
}

#editor-header {
  user-select: none;
  border-color: rgba(86,88,105,1);
  border-width: 1px;
}

#editor-loading {
  position: absolute;
  left: 6px;
  top: 38px;
  width: calc(100% - 6px - 6px);
  height: calc(100% - 32px - 6px - 6px);
  z-index: 100;
  user-select: none;
  background: rgb(255, 255, 255);
  display: flex;
  align-items: center;
  justify-content: center;
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

#editor-loading  div.loading-effect {
  width: 80px;
  height: 80px;
  border: 12px solid #f3f3f3;
  border-top: 12px solid #3498db;
  border-radius: 50%;
  animation: spin 1s linear infinite;
}

#editor-frame {
  position: absolute;
  left: 6px;
  top: 38px;
  width: calc(100% - 6px - 6px);
  height: calc(100% - 32px - 6px - 6px);
  z-index: 10;
  user-select: none;
  border-color: rgba(86,88,105,1);
  border-width: 1px;
}

#preview-frame {
  position: absolute;
  left: 6px;
  top: 63px;
  width: calc(100% - 6px - 6px);
  height: calc(100% - 32px - 25px - 6px - 6px);
  z-index: 0;
  user-select: none;
  border-color: rgba(86,88,105,1);
  border-width: 1px;
}

.rounded-b-md {
  border-bottom-left-radius: .375rem;
  border-bottom-right-radius: .375rem;
}
